        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>Automating Cloud Security</h1>
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/container-security/cloud_native_security.html"></section>
        <section data-external="modules/iac_security/iac_security_intro.html"></section>
        <!-- <section data-external="modules/iac_security/iac_2021_adoption.html"></section> -->
        <!-- <section data-external="modules/policy_as_code/pac_tools.html"></section> -->
        <section data-external="modules/governance/governance_intro_simple.html"></section>

        <section data-external="presentations/2024-09-CSA_Birmingham/so_now_what.html"></section>

        <!-- Policy as Code examples -->
        <section data-external="modules/iac_security/iac_security_finding.html"></section>
        <section data-external="modules/policy_as_code/conftest.html"></section>
        <section data-external="modules/policy_as_code/goss.html"></section>
        <section data-external="modules/policy_as_code/inspec.html"></section>

        <section data-external="presentations/2024-09-CSA_Birmingham/how.html"></section>

        <section data-external="modules/shared/demo.html"></section>

        <section data-external="modules/shared/wrap-up.html"></section>
