        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
        <section>
          <div id="typed-strings">
            <h1>
              Hi^1000
            </h1>
            <small>
              I'm Jon Zeolla^500
            </small>
            <small>
              welcome to your TLS training... :)
            </small>
          </div>
          <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>TLS</h1>
          </section>
        </section>

        <section data-external="modules/tls/ops_tls_agenda.html"></section>

        <section data-external="modules/shared/speaker.html"></section>
        <section data-external="modules/shared/seiso_intro.html"></section>
        <section data-external="modules/tls/all_tls_survey.html"></section>
        <section data-external="modules/tls/all_tls_why_this_matters.html"></section>
        <section data-external="modules/tls/all_tls_definitions.html"></section>
        <section data-external="modules/tls/all_tls_history.html"></section>
        <section data-external="modules/tls/all_tls_intro_1.html"></section>
        <section class="no-bg" data-external="modules/tls/all_tls_intro_2.html"></section>
        <section data-external="modules/tls/all_tls_intro_3.html"></section>

        <section data-external="modules/tls/ops_tls_and_pki_intro.html"></section>
        <section data-external="modules/tls/all_tls_configs.html"></section>
        <section data-external="modules/tls/all_tls_moving_to_13.html"></section>
        <section data-external="modules/tls/all_tls_related_tech.html"></section>
        <section data-external="modules/tls/all_tls_gotchas.html"></section>
        <section data-external="modules/tls/all_tls_troubleshooting.html"></section>

        <section data-external="modules/tls/all_tls_references.html"></section>

        <!-- Misc Notes Start
        <section data-external="modules/tls/misc_notes.html"></section>
             Misc Notes End -->
