<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="plugin/highlight/monokai.css">
    {%- if branding | lower == "seiso" %}
    <link rel="stylesheet" href="dist/theme/seiso.css" id="theme">
    {%- else %}
    <link rel="stylesheet" href="dist/theme/black.css" id="theme">
    {%- endif %}
    <link rel="stylesheet" href="modules/shared/css/asciinema-player.css">
    <link rel="stylesheet" href="modules/shared/css/custom.css">
    <link rel="stylesheet" href="modules/shared/plugin/chalkboard/style.css">
    <link rel="stylesheet" href="modules/shared/plugin/customcontrols/style.css">

    <!-- For several plugins including Chalkboard and Custom controls -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
{{ content }}
      </div>
    </div>

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script src="plugin/math/math.js"></script>
    <script src="modules/shared/plugin/chalkboard/plugin.js"></script>
    <script src="modules/shared/plugin/customcontrols/plugin.js"></script>

    <!-- For several plugins including Chalkboard and Custom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

    <!-- For twitter embeds -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- The related chart CSS is loaded above -->
    <script src="modules/shared/plugin/chart/plugin.js"></script>

    <script src="modules/shared/js/asciinema-player.js"></script>

    <script>
{{ reveal_config }}
    </script>
    {%- if branding | lower == "seiso" %}
    <div class='branding'>
    <img src="/modules/shared/img/seiso.png" alt="Seiso Logo" width="100%" />
    </div>
    {%- else %}
    <!-- TODO: Picture here too? -->
    {%- endif %}
  </body>
</html>
