[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "modules/iac_security/demo/easy_infra"]
	path = modules/iac_security/demo/easy_infra
	url = git@github.com:SeisoLLC/easy_infra.git
