        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk on IaC Security...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>IaC Security</h1>
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/iac_security/iac_security_survey.html"></section>

        <section data-external="modules/iac_security/iac_security_intro.html"></section>

        <section data-external="modules/iac_security/iac_2021_adoption.html"></section>

        <section data-external="modules/iac_security/iac_security_maturing.html"></section>

        <section data-external="modules/iac_security/iac_security_rollout.html"></section>

        <section data-external="modules/iac_security/easy_infra.html"></section>

        <section data-external="modules/iac_security/iac_security_demo.html"></section>

        <section data-external="modules/shared/questions.html"></section>
