        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>Governance</h1>
            <i>(again)</i>
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/2024-10-PGH-InfoSec-Day/TODO_intro.html"></section>
        <section data-external="modules/2024-10-PGH-InfoSec-Day/TODO_discussion.html"></section>
        <section data-external="modules/2024-10-PGH-InfoSec-Day/TODO_outro.html"></section>

        <section data-external="modules/shared/wrap-up.html"></section>
