        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
          <div id="typed-strings">
            <h1>
              Hi^1000
            </h1>
            <small>
              I'm Jon Zeolla^500
            </small>
            <small>
              welcome to your PKI training... :)
            </small>
          </div>
          <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>PKI</h1>
          </section>
        </section>

        <section data-external="modules/pki/pki_cissp_agenda.html"></section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/pki/pki_design.html"></section>
        <section data-external="modules/pki/pki_key_management.html"></section>
        <section data-external="modules/pki/pki_digital_signatures.html"></section>
        <section data-external="modules/pki/pki_nonrepudiation.html"></section>
        <section data-external="modules/pki/pki_integrity.html"></section>

        <section data-external="modules/pki/pki_references.html"></section>
