        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to your ASP.NET security training... :)
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>ASP.NET Security</h1>
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/asp.net_secure_coding/asp.net_intro.html"></section>

        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a1.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a2.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a3.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a4.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a5.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a6.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a7.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a8.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a9.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2021_a10.html"></section>

        <!-- 2017
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a1.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a2.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a3.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a4.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a5.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a6.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a7.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a8.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a9.html"></section>
        <section data-external="modules/asp.net_secure_coding/asp.net_owasp_2017_a10.html"></section>
        -->

        <section data-external="modules/shared/wrap-up.html"></section>
        <section data-external="modules/asp.net_secure_coding/references.html"></section>
