        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            How I learned to stop worrying and love
            <h1>vibe coding</h1>
            security edition
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/vibe-coding/vibe-coding-definition.html"></section>
        <section data-external="modules/vibe-coding/vibe-coding-timeline.html"></section>
        <section data-external="modules/vibe-coding/vibe-coding-production.html"></section>
        <section data-external="modules/vibe-coding/future-of-ai-coding.html"></section>

        <!-- Typical AI coding workflow; how tools like AI IDEs (cursor, etc.) work. Cover how AI tools handle both code and tests, even in refactoring, which
        puts even more pressure on critiquing AI outputs and doing good QA. -->
        <section data-external="modules/vibe-coding/how-llms-think.html"></section>
        <section data-external="modules/vibe-coding/ai-videos.html"></section>

        <!-- Why is PaC the solution? What is it, what's the history - starting in cloud runtimes and in the CNCF, and how it has evolved over the years to
        apply to CI pipelines and even pre-commit hooks on dev laptops. -->
        <section data-external="modules/vibe-coding/guardrails-vs-evaluations.html"></section>

        <!--PaC code samples and languages to help the audience build more of an intuition of how and where it can be used. -->
        <section data-external="modules/policy_as_code/conftest.html"></section>
        <section data-external="modules/policy_as_code/goss.html"></section>
        <section data-external="modules/policy_as_code/inspec.html"></section>

        <!-- Now that we have buy in on what PaC is we can show examples of how to use it to create AI guardrails. -->
        <!-- This is where I'll add some examples of mistakes I've made and comical failures. -->
        <section data-external="modules/vibe-coding/ai-pr-reviews.html"></section>

        <!-- Wrap up with next steps - how to get started, what does adoption look like, etc. -->
        <section data-external="modules/vibe-coding/vibe-coding-rules.html"></section>
        <section data-external="modules/vibe-coding/vibe-coding-roadmap.html"></section>

        <!-- Maybe setup a CI/CD pipeline and do some CI codegen with a flaw in the prompt or something and then get it flagged by the PaC in CI -->
        <section data-external="modules/vibe-coding/ci-demo.html"></section>

        <!-- Then do something similar in MCP -->
        <section data-external="modules/vibe-coding/mcp-demo.html"></section>

        <section data-external="modules/shared/wrap-up.html"></section>
