        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            How I learned to stop worrying and love
            <h1>vibe coding</h1>
            security edition
          </section>
        </section>

        <section data-external="modules/shared/speaker.html"></section>

        <!-- What is Vibe Coding -->
        <section data-external="modules/vibe-coding/vibe-coding-definition.html"></section>

        <!-- What is the problem -->
        <section data-external="modules/vibe-coding/vibe-coding-timeline.html"></section>
        <section data-external="modules/vibe-coding/vibe-coding-production.html"></section>
        <section data-external="modules/vibe-coding/ai-videos.html"></section>
        <section data-external="modules/vibe-coding/how-llms-think.html"></section>
        <section data-external="modules/vibe-coding/future-of-ai-coding.html"></section>

        <!-- What is the solution -->

        <!-- How does the solution work / examples -->
        <section data-external="modules/vibe-coding/guardrails-vs-evaluations.html"></section>
        <section data-external="modules/policy_as_code/conftest.html"></section>
        <section data-external="modules/policy_as_code/goss.html"></section>
        <section data-external="modules/policy_as_code/inspec.html"></section>
        <section data-external="modules/vibe-coding/ai-pr-reviews.html"></section>

        <!-- Now what / takeaways -->
        <section data-external="modules/vibe-coding/vibe-coding-rules.html"></section>
        <section data-external="modules/vibe-coding/vibe-coding-roadmap.html"></section>

        <!-- Maybe setup a CI/CD pipeline and do some CI codegen with a flaw in the prompt or something and then get it flagged by the PaC in CI -->
        <!-- <section data-external="modules/vibe-coding/ci-demo.html"></section> -->

        <!-- Then do something similar in MCP -->
        <!-- <section data-external="modules/vibe-coding/mcp-demo.html"></section> -->

        <section data-external="modules/shared/wrap-up.html"></section>
