        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section data-transition="none">
          <section>
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to my talk...
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>Just-In-Time Cloud Permissions</h1>
          </section>
        </section>

        <!-- EVENT SPECIFIC -->
        <section data-external="modules/aad_pim_aws_ic/2023-06_InfraGard.html"></section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/aad_pim_aws_ic/problem_statement.html"></section>
        <section data-external="modules/aad_pim_aws_ic/environment.html"></section>

        <section data-external="modules/aad_pim_aws_ic/intro_to_AAD_PIM.html"></section>
        <section data-external="modules/aad_pim_aws_ic/intro_to_IAM_IC.html"></section>
        <section data-external="modules/aad_pim_aws_ic/intro_to_SCIM.html"></section>
        <section data-external="modules/aad_pim_aws_ic/putting_it_together.html"></section>

        <section data-external="modules/aad_pim_aws_ic/gotchas.html"></section>

        <section data-external="modules/aad_pim_aws_ic/other_approaches.html"></section>

        <section data-external="modules/aad_pim_aws_ic/now_what.html"></section>

        <section data-external="modules/shared/questions.html"></section>
