        <!-- Welcome -->
        <!--
          This is not stored in an external section because it caused issues
          with the below Reveal.initialize.  A brief attempt at moving that to
          a file and then remotely loading the script caused more issues than
          it was worth looking into at the time.
        -->
        <section>
          <section data-transition="none">
            <div id="typed-strings">
              <h1>
                Hi^1000
              </h1>
              <small>
                I'm Jon Zeolla^500
              </small>
              <small>
                welcome to your Cryptography training... :)
              </small>
            </div>
            <span id="typed"></span>
          </section>
        </section>

        <section>
          <section>
            let's talk about
            <h1>Cryptography</h1>
          </section>
        </section>

        <section data-external="modules/cryptography/cryptography_cissp_agenda.html"></section>

        <section data-external="modules/shared/speaker.html"></section>

        <section data-external="modules/cryptography/cryptography_asymmetric.html"></section>
        <section data-external="modules/cryptography/cryptography_hashing.html"></section>
        <section data-external="modules/cryptography/cryptography_ipsec.html"></section>
        <section data-external="modules/cryptography/cryptography_attacks.html"></section>

        <section data-external="modules/cryptography/cryptography_references.html"></section>
